*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color:#000000;
  }
.portada{
   width: 80vw;
   position: relative;
   text-align: center;
   left: 10vw;
   display: block;
}
  header{
    min-height: 70vh;
  }
  header h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    display: block;
    position: relative;    
    width: 80vw;
    left: 10vw;
    padding: 5px 0px 5px 15px;
    
  }
  
  header h2{
    position: relative;
    align-items: center;
    background-color: rgb(194, 57, 57);
    text-align: center;
    height: 30px;    
    width: 80vw;
    left: 10vw;
  }
  nav {
    display: inline-block;
    margin: 1rem;
    position: absolute;
    top: 3rem;
    right: 12rem;
    z-index: 1;
  }
  nav a {
    background-color: rgb(68, 114, 196);
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);    
    border: 2px solid black;
  }
  nav a:hover{
    background-color: rgb(112, 173, 71);
  }
  main{    
    background-color:#4d9678;
    display: inline-block;
    position: relative;
    min-height: 20vh;
    width: 80vw;
    left: 10vw;
  }
  .logo{
  position: relative;
  display:inline-block;
  width: 9vw;
  padding-left: 10px;
  }
  .contenedor{
    display: inline-block;
    margin-left: 40px;
    width: 80%;
  }
  p{
    margin-left: 10px;
  }
  #pContacto{
    width: 80vh;
    margin-top: 10px;
  }
  footer {
    position: relative;
    min-height: 5vh;
    text-align: center;
    align-items: end;
    background-color: #fff467;        
    width: 80vw;
    left: 10vw;
  }
  footer p{
    position: relative;
    top: 1.5vh;
  }