*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color:#ffffff;
  }
  .H2Portada{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
.portada{
   width: 80vw;
   display: flex;
   position: relative;
}  
header h2{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: rgb(194, 57, 57);
  background-color: rgb(255, 255, 255);
  text-align: center;
  max-height: 40px;  
  width: 80vw;
}

header h2:hover{
  background-color:rgb(194, 57, 57) ;
  color:#ffffff ;
 }

  .headerH1Img{
    display: flex;
    height: 8vh;    
    width: 80vw;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 1px;
    flex-wrap: nowrap;
  }
  header h1 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 50px;
    color: rgb(194, 57, 57);
    background-color: rgb(255, 255, 255);
    position: relative;    
    text-align: center;
    padding: 5px 0px 5px 15px;
    
  }
  .logo{
    position: relative;
    max-height: 9vh;
    display: flex;
    align-items: flex-end;
    }
  nav {
    display: flex;
    position: sticky;
    top: 2vh;    
    width: 100vw;
    height: 4vh;
    margin-top: 0;
    margin-bottom: 1vh;
    text-align: center;
    justify-content: center;
    z-index: 2;
  }
  nav a {    
    display:flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(194, 57, 57);    
    border: 2px solid black;    
    transition: all .5s;
    margin: 0 5px;
  }
  nav a:hover{
    background-color: rgb(112, 173, 71);
    transform: scale(1.3);
    margin: 0 17px;
    color: #ffffff;
    background-color: rgb(194, 57, 57);
  }
  .main{    
    background-color:#ffffff;
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 30vh;
  }
  
  .contenedor{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 10px;
    }
  .contenedor h3, .maps h4{
        border: 2px solid rgb(194, 57, 57);
        transition: all .5s;
        padding-left: 40px;
        border-radius: 20px;
       }
  .contenedor p{        
        transition: all .5s;
       }
  .contenedor h3:hover,.efectoEncabezado:hover, .maps h4:hover{
    text-align: center;
    color: #ffffff;
    background-color: #4d9678;    
    padding-left: 0px;
   }
  .p{
    margin-left: 10px;
    font-size: 20px;
  }
  #pContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 2rem;
  }
  footer {
    display: flex;
    position: relative;
    min-height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: #fff467;        
    width: 100vw;
  }

  .mainGame{
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .mainGame div{        
    width: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    font-size: 20px;
  }
  .divPhoneEmail{
    display: flex;
    flex-direction: row !important;
  }
  table{
    margin: 2rem;
  }
  th, td {
    margin: 2rem;
    border: 1px solid black;
    padding: 1rem;
  }
  th{
    background-color: #4d9678;
  }
  .fecha{
    background-color: #fff467;
  }

  .mainRules{    
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
    min-height: 80vh;
    font-size: 20px;
    list-style-position: inside;
  }
  .mainRules div{
    width: 80vw;
  }
  .liAllPlay{
    list-style-type: circle;
    margin-left: 2rem;
  }
  .Fila930{
    background-color: rgb(228, 122, 122);
  }

  .encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .encabezado h4{
    font-size: 36px;
  }
  tbody td a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px #1fb14f8e;
  }

.efectoEncabezado{
        border: 2px solid rgb(194, 57, 57);
        transition: all .5s;
        padding-left: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
}
.ddPadding{
  text-indent: 2rem;
}

.mainForm{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 50vh;  
  min-height: 50vh;
  margin: 1rem 0;
  ;
}
form{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;  
  width: 80vw;
  background-color: #f2bf278c;
  border-radius: 10px;
}
form h1{
  display: flex;
  height: 5vh;
  align-items: center;
  
  position: relative;
}
fieldset{
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
  background-color: #f275079d;
  width: 80vw;  
  justify-content: center;
}
form div{
  margin: 10px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-evenly;
}
fieldset label, select{  
  margin: 10px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  }
  fieldset label input, select option{
    height: 100%;
  }
.mainForm h4{
  display: flex;
  font-size: 25px;
  width: 100%;
  justify-content: center;
}
.enviar{
  padding: 0.5rem 1rem;
  background-color: #d94032;
  color: #F2F2F2;
}
input:required{
  
  border: 2px solid #b61818;
}

#maps{
  display: flex;
  position: relative;  
  flex-direction: row ;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  
}
.maps div{
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
}
.maps div iframe{
  width: 25vw;
  height: 22rem;
  border-radius: 10%;
}
.maps h4{
  padding-left: 0;
}

@media (max-width:1024px){
#maps div{
        width: 290px;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}
#maps div h4,#maps div iframe{
  width: 100%;
}  
}